#╔════════════════════════════════════════════════════════════════╗
#	#	THIS IS A .USF FILE FOR SPARTAN 6 - XCSLX9TQG144         ║
#║	#CREATED BY KOUTSIANOPOULOS KONSTANTINOS CIRCUITS AND SYSTEMS ║
#║  # GROUP (N.T.U.A.)                                             ║
#║	#PART OF PROJECT TITLED: REMOTE SERVER CONTROL				 ║
#║																 ║
#╚════════════════════════════════════════════════════════════════╝
CONFIG VCCAUX = "3.3" ;
##################################################################
######                 CLOCK CONFIGURATION                  ######
#NET "CLK50M" LOC = P55 | IOSTANDARD = LVCMOS33 | PERIOD = 16MHz ;
##################################################################
######    				SOFTWARE RESET									 ######
NET "rst_n" LOC = P65 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
##################################################################
######		        ADV PIN SIDE CONFIGURATION              ######
NET "LLC" LOC = P80 | CLOCK_DEDICATED_ROUTE = FALSE | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST | PULLUP ;
NET "VS" LOC = P100 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "HS" LOC = P99 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "DE" LOC = P101 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[0]" LOC = P78 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[1]" LOC = P79 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[2]" LOC = P81 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[3]" LOC = P82 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[4]" LOC = P83 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[5]" LOC = P84 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[6]" LOC = P85 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[7]" LOC = P87 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[8]" LOC = P94 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[9]" LOC = P95 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[10]" LOC = P97 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[11]" LOC = P98 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[12]" LOC = P102 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[13]" LOC = P104 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[14]" LOC = P105 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "Pixel_Bus[15]" LOC = P111 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "Pixel_Bus[16]" LOC = P94 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "Pixel_Bus[17]" LOC = P95 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "Pixel_Bus[18]" LOC = P97 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "Pixel_Bus[19]" LOC = P98 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_gd[8]" LOC = P102 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_gd[9]" LOC = P104 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_gd[10]" LOC = P105 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_gd[11]" LOC = P111 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[0]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[1]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[2]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[3]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[4]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[5]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[6]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[7]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[8]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[9]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[10]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "hdmi_bd[11]" LOC = 80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;

##################################################################
######		        FT602 PIN SIDE CONFIGURATION            ######
NET "CLK_I" LOC = P12 | CLOCK_DEDICATED_ROUTE = FALSE | IOSTANDARD = LVCMOS33;
# NET "RXF_N" LOC = P126 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "txe_n" LOC = P127 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST | PULLUP = true ;
NET "wr_n" LOC = P124 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
# NET "SIWU_N" LOC = P80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "RD_N" LOC = P80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "OE_N" LOC = P80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
# NET "frame" LOC = P80 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;
NET "be[0]" LOC = P134 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;
NET "be[1]" LOC = P133 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;
NET "be[2]" LOC = P132 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;
NET "be[3]" LOC = P131 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;
NET "data[0]" LOC = P35 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[1]" LOC = P34 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[2]" LOC = P33 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[3]" LOC = P32 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[4]" LOC = P30 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[5]" LOC = P29 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[6]" LOC = P27 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[7]" LOC = P26 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[8]" LOC = P24 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[9]" LOC = P23 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[10]" LOC = P22 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[11]" LOC = P21 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[12]" LOC = P17 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[13]" LOC = P16 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[14]" LOC = P15 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[15]" LOC = P14 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[16]" LOC = P11 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[17]" LOC = P10 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST ;
NET "data[18]" LOC = P9 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST   ;
NET "data[19]" LOC = P8 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST   ;
NET "data[20]" LOC = P7 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST   ;
NET "data[21]" LOC = P6 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST   ;
NET "data[22]" LOC = P5 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST   ;
NET "data[23]" LOC = P2 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST   ;
NET "data[24]" LOC = P1 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST   ;
NET "data[25]" LOC = P143 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;
NET "data[26]" LOC = P142 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;
NET "data[27]" LOC = P141 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;
NET "data[28]" LOC = P140 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;
NET "data[29]" LOC = P139 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;
NET "data[30]" LOC = P138 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;
NET "data[31]" LOC = P137 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST  ;

NET "CLK_I" TNM_NET ="CLK_I";
TIMESPEC "TS_CLK_I" = PERIOD "CLK_I" 15.15 ns HIGH 50.00% INPUT_JITTER 800 ps PRIORITY 1;

NET "data<*>"	TNM = "M_FIFO_O";
NET "be<*>"		TNM = "M_FIFO_O";
NET "txe_n"			TNM = "M_FIFO_I";
NET "wr_n"			TNM = "M_FIFO_O";

TIMEGRP "M_FIFO_I" OFFSET = IN 8.57 ns VALID 9.07 ns BEFORE "CLK_I" RISING;

TIMEGRP "M_FIFO_O" OFFSET = OUT 14.15 ns VALID 8.37 ns AFTER "CLK_I" RISING;
 
